footer.footer#donar
    .footer__donaciones-info
        h3.footer__subtitle.-subtitle.-subtitle--white donaciones económicas
        h2.footer__title.-title.-title--white América extrema solidaria
        p.footer__text CUIT 30715948482
        p.footer__text Banco Santander Río S.A.
        p.footer__text Cuenta Corriente en pesos
        p.footer__text Cuenta: 132-012066/5
        p.footer__text CBU: 0720132120000001206654
    .footer__bottom
        .container
            .footer__contact
                .footer__mail
                    i.fa.fa-envelope-o
                    a.footer__text(href="mailto:axsolidaria@gmail.com") AXSolidaria@gmail.com
                ul.footer__social
                    li
                        a(href="https://www.facebook.com/americaextrema/", target="_blank")
                            i.fa.fa-facebook
                    li
                        a(href="https://www.instagram.com/americaextremaok/", target="_blank")
                            i.fa.fa-instagram
