footer.footer#donar
    .footer__donaciones-info
        h3.footer__subtitle.-subtitle.-subtitle--white donaciones económicas
        h2.footer__title.-title.-title--white América extrema solidaria
        p.footer__text US BANK
        p.footer__text CHECKING ACCOUNT: 10368588976
        p.footer__text ROUTING NUMBER: 102000021
        p.footer__text 
            |PayPal link: 
            a(href="//paypal.me/AXsolidaria" target="_blank") www.paypal.me/AXsolidaria
    .footer__bottom
        .container
            .footer__contact
                .footer__mail
                    i.fa.fa-envelope-o
                    a.footer__text(href="mailto:americaextrematv@gmail.com") americaextrematv@gmail.com
                ul.footer__social
                    li
                        a(href="https://www.facebook.com/americaextrema/", target="_blank")
                            i.fa.fa-facebook
                    li
                        a(href="https://www.instagram.com/americaextremaok/", target="_blank")
                            i.fa.fa-instagram
