.header {
    @include trans;

    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 10vh;
    $h: &;

    &.-scroll-change-color {
        background: $red;
    }

    &__container {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;

        @include mq(md) {
            justify-content: space-between;
        }
    }

    &__logo {
        @include trans;
        height: 80%;
        z-index: 2000;

        img {
            width: auto;
            height: 100%;
        }

        &.-scroll-change-color {
            filter: brightness(1500%);
        }

        &.-nav-change-color {
            filter: brightness(1500%);
        }
    }

    &__nav {
        @include trans;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        left: 0;
        transform: translateX(-100%);
        opacity: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq(md) {
            position: relative;
            opacity: 1;
            transform: translateY(0);
            justify-content: flex-end;
            height: auto;
        }

        &.-open {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__list {
        list-style: none;

        @include mq(md) {
            display: flex;
        }

        li {
            @include mq(md) {
                margin-left: 30px;
            }
        }

        a {
            text-transform: uppercase;
            color: $white;
            font-size: 14px;
            font-weight: 900;
        }
    }

    &__hamburguer {
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 25px;
        top: 22px;

        @include mq(md) {
            display: none;
        }

        span {
            background-color: $black;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav {
            transform: translateX(0);
            background: $red;
            opacity: 1;
        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
