extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .home__hero__container
                    .home__hero__logo
                        img(src="/images/logo-hero.png")
                    h2.home__hero__title ayuda humanitaria en latinoamérica
                    a.home__hero__button(href="#") donar
        
        section.home__insterstitial
            .container
                .row
                    .col-xs-24.col-md-16.col-md-offset-4
                        h2.home__insterstitial__title Somos amigos viajeros y aventureros que hemos recorrido gran parte de América, explorando y compartiendo con muchas personas que nos han abierto las puertas de sus casas y nos han ayudado a cumplir nuestros objetivos a lo largo del camino.
                        p.home__insterstitial__text Ahora queremos devolver un poco de todo ese apoyo que hemos recibido, a través de esta misión solidaria independiente y autónoma, sin ideología política ni ayuda de los Estados, asistiendo a comunidades aisladas y de bajos recursos, a tener una mejor calidad de vida, facilitándoles filtros purificadores de agua para que cuenten con agua potable, educando a los jóvenes a ser más autosustentables y cuidar el medio ambiente, y distribuyendo alimentos donados por la gente.
                        
        section.home__que-hacemos
            .container
                .home__que-hacemos__container
                    .home__que-hacemos__content
                        h3.home__que-hacemos__subtitle qué hacemos
                        h2.home__que-hacemos__title Viajamos desde Colorado USA hasta la Patagonia Argentina llevando filtros potabilizadores de agua para instalar y ayudar al menos a una comunidad por cada país de Latinoamérica.
                        p.home__que-hacemos__text Además llevamos alimentos no perecederos para colaborar o ayudar en la alimentación, y enseñamos distintas técnicas para minimizar la contaminación y la producción de residuos, favoreciendo el reciclado y la reutilización de productos plásticos entre otros.
                    .home__que-hacemos__map-container

        section.home__como-lo-hacemos
            .home__como-lo-hacemos__image
                img(src="/images/how-we-do.png")
            .bt-pseudo-col.bt-pseudo-col--right
                .bt-container.bt-container--right
                    h3.home__como-lo-hacemos__subtitle cómo lo hacemos
                    h2.home__como-lo-hacemos__title Conseguimos los filtros a través de la Fundación Waves4Water, cuyo objetivo es proveer de filtros potabilizadores a proyectos independientes solidarios.
                    p.home__como-lo-hacemos__text A través de las donaciones de las personas que visitan su sitio web www.wavesforwater.org en el que pueden a elegir entre varios proyectos diferentes alrededor del mundo.
                    p.home__como-lo-hacemos__text Los alimentos los recolectados en distintos puntos o bancos de donación y también de personas particulares y empresas.
                
        section.home__transporte
            .bt-pseudo-col
                .bt-container
                    h3.home__transporte__subtitle en qué nos movemos
                    h2.home__transporte__title Este viaje y misión humanitaria, nos llevará por algunos de los caminos más duros del continente.
                    p.home__transporte__text Compramos una camioneta doble cabina y doble tracción para llevar un camper donde podamos vivir y un trailer donde cargamos una moto, un generador y varias herramientas, materiales y alimentos para ser utilizados en las distintas comunidades a las que asistiremos.
            .home__transporte__image
                img(src="/images/truck.jpg")
                
        section.home__donaciones
            .home__donaciones__image
                img(src="/images/truck-icon.png")
            .bt-pseudo-col.bt-pseudo-col--right
                .bt-container.bt-container--right.-text-right
                    h3.home__donaciones__subtitle donaciones
                    h2.home__donaciones__title A través de las donaciones monetarias que recibimos de personas, empresas o corporaciones en nuestra cuenta bancaria y cuenta de PayPal.
                    p.home__donaciones__text También vendemos remeras del América Extrema Solidaria Tour Latinoamérica para costear parte de la gasolina.
                    a.home__donaciones__button(href="#") donar
        
        section.home__insterstitial.home__insterstitial--gray
            .container
                p.home__insterstitial__text.home__insterstitial__text--dark Los aportes, en dinero o en recursos, podrán ser efectuados por personas o empresas. En el caso de las personas, podrán aportar lo que les sea posible sin limites mínimos o máximos, en el caso de las empresas el aporte mínimo será de 150 usd (valor equivalente a 3 filtros de agua) y a cambio se imprimirá un calco con el logo o nombre de dicha empresa para ser pegado en la camioneta equipada con camper y trailer en la que nos movemos el equipo de AXs por toda Latinoamérica. Esto dará visibilidad a las marcas aportantes en varios países y a través de las publicaciones semanales en redes sociales de AXs (Facebook e Instagram: América Extrema Solidaria) y en notas y entrevistas con diversos medios de comunicación durante el viaje, que se extenderá durante todo el 2019.

        section.home__comunidades
            .home__comunidades__image
                img(src="/images/copkit.jpg")
            .bt-pseudo-col.bt-pseudo-col--right
                .bt-container.bt-container--right
                    h3.home__comunidades__subtitle sección de comunidades
                    h2.home__comunidades__title Elegimos una comunidad a la cual podemos ayudar con nuestras herramientas y preparación y coordinamos la acción en concreto.
                    p.home__comunidades__text Empezando por algunas comunidades de Méjico entramos en contacto con sus principales referentes para lograr entender sus necesidades más urgentes (agua potable, vivienda, alimentación, salud)
                
        section.home__voluntariado
            .bt-pseudo-col
                .bt-container
                    h3.home__voluntariado__subtitle voluntariado
                    h2.home__voluntariado__title Está prevista la participación de voluntarios en cada país, 1 a la vez.
                    p.home__voluntariado__text Que nos ayuden a entrar en las comunidades locales que necesiten ayuda, y tengan conocimientos o herramientas para aportar al proyecto humanitario, para quienes habrá lugar para traslado en la camioneta, alojamiento en el camper y comida incluida.
            .home__voluntariado__image
                img(src="/images/trailer.jpg")
        
        section.home__timeline
            .container
                .row
                    .col-xs-24.col-md-16.col-md-offset-4
                        h3.home__timeline__subtitle reseña
                        h2.home__timeline__title América Extrema surgió hace 8 años como una plataforma multimedia online con el objetivo de compartir experiencias de Viajes, Aventura, Deportes Extremos y Naturaleza.
                .row
                    .col-xs-24.col-md-12.col--left
                        .home__timeline__text Pronto mi interés como periodista y viajero me llevó a incluir y compartir algunas experiencias interculturales a lo largo y ancho del continente americano, después de recorrerlo desde Colorado USA hasta Argentina en un viaje realizado en 2012. Fueron 7 meses de explorar y atravesar distintos países y culturas lo que me posibilitó entender mejor la diversidad sociocultural de gran parte de los distintos pueblos latinoamericanos.
                    .col-xs-24.col-md-12
                        .home__timeline__image
                            img(src="/images/timeline-1.jpg")
                    .col-xs-24.col-md-12.col--left
                        .home__timeline__text
                    .col-xs-24.col-md-12
                        .home__timeline__image
                    .col-xs-24.col-md-12.col--left
                        .home__timeline__text
                    .col-xs-24.col-md-12
                        .home__timeline__image
                    .col-xs-24.col-md-12.col--left
                        .home__timeline__text
                    .col-xs-24.col-md-12
                        .home__timeline__image
                    .col-xs-24.col-md-12.col--left
                        .home__timeline__text
                    .col-xs-24.col-md-12
                        .home__timeline__image
