extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .home__hero__container
                    .home__hero__logo
                        img(src="/images/logo-hero.png")
                    h2.home__hero__title ayuda humanitaria en latinoamérica
                    a.home__hero__button(href="#") donar
        
        section.home__insterstitial
            .container
                .row
                    .col-xs-24.col-md-16.col-md-offset-4
                        h2.home__insterstitial__title Somos amigos viajeros y aventureros que hemos recorrido gran parte de América, explorando y compartiendo con muchas personas que nos han abierto las puertas de sus casas y nos han ayudado a cumplir nuestros objetivos a lo largo del camino.
                        p.home__insterstitial__text Ahora queremos devolver un poco de todo ese apoyo que hemos recibido, a través de esta misión solidaria independiente y autónoma, sin ideología política ni ayuda de los Estados, asistiendo a comunidades aisladas y de bajos recursos, a tener una mejor calidad de vida, facilitándoles filtros purificadores de agua para que cuenten con agua potable, educando a los jóvenes a ser más autosustentables y cuidar el medio ambiente, y distribuyendo alimentos donados por la gente.
